body {
    background: url(background.PNG);
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: aqua;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 10px;
}

#leipateksti {
    border: 10px solid rgb(235, 31, 31);
    margin-left: 20%;
    margin-right: 20%;
}

p {
    border-radius: 25px;
    background:#6ab8ec;
    padding:20px;
    font-size: 20px;
}

#myHeader {
    border: 5px solid rgb(235, 31, 31);
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}

#mysubheader {
    border: 5px solid rgb(235, 31, 31);
    background-color: rgb(78, 219, 73);
    color: black;
    padding: 40px;
    text-align: center;
}

#myprogressheader {
    border: 5px solid rgb(235, 31, 31);
    background-color: rgb(230, 196, 222);
    color: black;
    padding: 40px;
    text-align: center;
}

